<h1>Portfolio</h1>

<figure class="portfolio-item">
	<figcaption>Money</figcaption>
	<img src="img/money-1.jpg" alt="Solar Energy" style="float: none;width: 100%;">
</figure>

<figure  class="portfolio-item">
	<figcaption>Money</figcaption>
	<img src="img/money-2.jpg" alt="Solar Energy" style="float: none;width: 100%;">
</figure>

<figure  class="portfolio-item">
	<figcaption>GMO</figcaption>
	<img src="img/food-1.jpg" alt="Solar Energy" style="float: none;width: 100%;">
</figure>

<figure  class="portfolio-item">
	<figcaption>GMO</figcaption>
	<img src="img/food-2.jpg" alt="Solar Energy" style="float: none;width: 100%;">
</figure>

<figure  class="portfolio-item">
	<figcaption>Future</figcaption>
	<img src="img/future-1.jpg" alt="Solar Energy" style="float: none;width: 100%;">
</figure>

<figure  class="portfolio-item">
	<figcaption>Future</figcaption>
	<img src="img/future-2.jpg" alt="Solar Energy" style="float: none;width: 100%;">
</figure>